<html>
    <head>
        <title>About Section</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="about-div">
            <h1>About Section</h1>
            <p>"Highly motivated and detail-oriented full-stack developer with expertise in
                designing and developing scalable,efficient,and secure web applications.</p>
                    <p>Proficient in a range of programming languages, including:</p>
                    <p>Front-end development: HTML5, CSS3, JavaScript</p>
                    <p>Back-end development: Python (Flask/Django)</p>
                    <p>Database management: MongoDB, MySQL</p>
        </div>
        <div class="footer-div">
            <p>Copyright © 2025 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>