<html>
    <head>
        <title>Contact Section</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="contact-div">
            <h1>Contact Section</h1>
            <p>Email:lali@gmail.com<br>
                Phone no:1234567809<br>
                Address:Ongole,Andhra Pradesh,523001
            </p>
        </div>
        <div class="footer-div">
            <p>Copyright © 2025 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>