<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class = "main-div">
            <img src="../static/images/web developer.png">
        </div>
        <div class = "nav-div">
            <nav>
                <ul>
                    <a href="/skill"><li>Skill Section</li></a>
                    <a href="/project"><li>Project Section</li></a>
                    <a href="/resume"><li>Resume Section</li></a>
                    <a href="/contact"><li>Contact section</li></a>
                    <a href="/about"><li>About Section</li></a>
                </ul>
            </nav>
        </div>
        <div class="header-div">
            <h1>🤝KONURI LALITHAMBIKA👏</h1>
            <h2>An Enthusiastic Web Developer</h2>
            <img src="../static/images/skills.png">
        </div>
        <div class="footer-div">
            <p>Copyright © 2025 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>