<html>
    <head>
        <title>Project Section</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="project-div">
            <h3>College Website</h3>
            <p>A College Web site with banner logo and the College image.</p>
            <img src="../static/images/qiscollege project.PNG" alt="College Website">
        </div>
        <div class="project1-div">
            <h3>Marvel</h3>
            <p>A Marvel images and names of the marvel heros.</p>
            <img src="../static/images/marvel_project_image.PNG" alt="Marvel">
        </div>
        <div class="footer-div">
            <p>Copyright © 2025 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>