<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="about-div">
            <h1>About Section</h1>
            <p>The Bouncefit brand specializes in affordable, feature-rich fitness wearables, including smart bands and smartwatches. Their products are designed to cater to health-conscious individuals who are looking for basic tracking functionalities without the hefty price tag of premium brands.</p>
            <p>The Bouncefit D20 Y68 Fitness Band Smart Watch is one of their popular offerings, targeting users who need a budget-friendly solution for activity tracking, fitness monitoring, and smart notifications. The brand aims to provide a balance of practicality and performance, with features like heart rate monitoring, step counting, sleep tracking, and quick charging.</p>
            <p>While the Bouncefit brand is still emerging and not as well-known as some of the industry giants, it has garnered attention for its cost-effective wearable technology, which appeals to a wide audience, including young adults and fitness enthusiasts.</p>
        </div>
        <div class="thankyou-div">
            <h1>THANK YOU🙏🤝</h1>
        </div>
    </body>
</html>