<html>
    <head>
        <title>Resume Section</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="resume-div">
            <h1>Resume Section</h1>
            <p>Click the button below to download my resume:</p>
            <a href="../static/assets/konurilalithambika.pdf" download="YourName_Resume.pdf" class="download-button">Download Resume</a>
              
        </div>
        <div class="footer-div">
            <p>Copyright © 2024 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>