<html>
    <head>
        <title>Skill Section</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="skill-div">
            <h1>Skill Section</h1>
            <li>HTML</li>
            <li>CSS</li>
            <li>JAVA SCRIPT</li>
            <li>PYTHON</li>
            <li>MONGO DB</li>
            <li>MYSQL</li>
            <li>Version Control (Git)</li>
            <img src="../static/images/web.jpg">

        </div>
        <div class="footer-div">
            <p>Copyright © 2024 || All Rights Reserved || Developed By KONURI LALITHAMBIKA</p>
        </div>
    </body>
</html>